<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="EnvironmentProcessCommand"
                      xsi:type="object">Alpaca\EnvironmentConfig\Command\ProcessCommand
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Alpaca\EnvironmentConfig\Command\ProcessCommand">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="yaml" xsi:type="string">Semaio\ConfigImportExport\Model\File\Reader\YamlReader</item>
                <item name="json" xsi:type="string">Semaio\ConfigImportExport\Model\File\Reader\JsonReader</item>
            </argument>
        </arguments>
    </type>

    <preference for="Alpaca\EnvironmentConfig\Api\File\FinderInterface"
                type="Alpaca\EnvironmentConfig\Model\File\Finder"/>
    <preference for="Alpaca\EnvironmentConfig\Api\Processor\ImportProcessorInterface"
                type="Alpaca\EnvironmentConfig\Model\Processor\ImportProcessor"/>
</config>
